body {
	margin: 0;
	overflow-y: hidden;
}

.conteiner {
	display: flex;
	background-color: black;
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.caixa_do_login {
	display: flex;
	height: 800px;
	width: 450px;
	flex-direction: column;
	background-color: #212121;
}

.titulo_da_caixa_do_login {
	color: white;
	margin-left: 20px;
}

.div_do_email {
	display: flex;
	height: 150px;
	width: 450px;
	flex-direction: column;
}

.indicacao_email {
	color: #ababab;
	margin-left: 20px;
}

.input_email_cadastro {
	height: 40px;
	width: 220px;
	color: black;
	border: solid 2px yellow;
	background-color: #212121;
	margin-left: 20px;
}

.div_da_senha {
	display: flex;
	height: 125px;
	width: 450px;
	flex-direction: column;
	margin-bottom: 20px;
}

.indicacao_senha {
	color: #ababab;
	margin-left: 20px;
}

.input_senha {
	height: 100px;
	width: 220px;
	color: black;
	border: solid 2px yellow;
	background-color: #212121;
	margin-left: 20px;
	margin-bottom: 10px;
}

.botao_de_entrar {
	display: flex;
	color: black;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 300px;
	margin-left: 70px;
	background-color: yellow;
}
.sombreado_roxo_a {
	position: absolute;
	width: 200px;
	height: 321px;
	left: -29px;
	top: 495px;
	background: #996DFF;
	filter: blur(120px);
}

.divdonome{
	height: 40px;
	width: 220px;
}

.input_nome {
	height: 40px;
	width: 220px;
	color: black;
	border: solid 2px yellow;
	background-color: #212121;
	margin-left: 20px;
	margin-bottom: 30px;
}

.indicacao_Nome {
	color: #ababab;
	margin-left: 20px;
}

.titulo_perfil {
	display: flex;
	color: white;
	margin-left: 10px;
	margin-bottom: 10px;
}

.div_paleta_borda_perfil {
	display: flex;
	height: 40px;
	width: 220px;
	color: black;
	border: solid 2px yellow;
	background-color: #212121;
	margin-left: 20px;	
	margin-bottom: 25px;
	flex-direction: row;
}

.titulo_paleta {
	display: flex;
	color: #ababab;
	margin-left: 10px;
}

.paleta_vermelha {
	display: flex;
	height: 40px;
	width: 73px;
	background-color: red;
}

.paleta_amarela {
	display: flex;
	height: 40px;
	width: 73px;
	background-color: white;
}

.paleta_verde {
	display: flex;
	height: 40px;
	width: 73px;
	background-color: green;
}

.div_input_foto {
	display: flex;
	height: 120px;
	width: 450px;
	flex-direction: column;
}

.input_foto {
	display: flex;
	height: 40px;
	width: 220px;
	color: black;
	border: solid 2px yellow;
	background-color: #212121;
	margin-left: 20px;
	margin-bottom: 30px;
}

.indicacao_foto {
	color: #ababab;
	margin-left: 20px;
}